@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap'); /*Technologische*/
@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap'); /*Schmuckig*/

/*font-family: "Smooch Sans", sans-serif;*/

body{
    width: 100%;
    margin: 0;
    padding: 0;
}

.Tech{
    font-family: "Smooch Sans", sans-serif;
}

p,h1,h2,h3,h4,h5,h6, li{
    font-family: "Elms Sans", sans-serif;
}

h4{
    font-size:30px;
    margin: 0 20px 20px 20px;
}
h4 .Tech{
    font-size: 34px;
}

#shadow{
    color: white;
}

h3{
    font-size:30px;
}
h3 .Tech{
    font-size: 34px;
}

p .Tech{
    font-size: 28px;
}
p, p i{
    font-size: 22px;
}

i{
    font-size: 30px;
}

.btn-donate {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: rgb(219, 182, 103);
  --btn-bg-2: rgb(151, 116, 27);
  --btn-bg-color: hsla(360 100% 100% / 1);
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
}

.btn-donate:hover {
  background-position: right top;
}

.btn-donate:is(:focus, :focus-visible, :active) {
  outline: none;
  box-shadow:
    0 0 0 3px var(--btn-bg-color),
    0 0 0 6px var(--btn-bg-2);
}

.iconshimmer {
    --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: rgb(226, 186, 98);
  --btn-bg-2: rgb(149, 113, 22);
  --btn-bg-color: hsla(360 100% 100% / 1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  font-size: var(--size, 2rem);
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  color: var(--btn-bg-color);
  text-decoration: none;
  list-style: none;
}

.iconshimmer:hover {
  background-position: right top;
}

.iconshimmer:is(:focus, :focus-visible, :active) {
  outline: none;
  box-shadow:
    0 0 0 3px var(--btn-bg-color),
    0 0 0 6px var(--btn-bg-2);
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color:white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.27);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

header img{
    justify-self: center;
}

header h1{
    justify-self: center;
}

#bars{
    font-size: 30px;
    padding-left: 10%;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10%;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    text-decoration: none;
    color: #EADEA7
}

/*hero*/
.strich{
    height: 8vh;
    background-color: #242321;
}

#hero{
    height: 60vh;
    padding-left: 5%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: url("../mediengestaltung_2025-26/img/generate_me_a_dark_image_with_a_cinematic_look_where_on_the_right_side_is_a_dark_red_velvet_ringbox_f3gu2gsigur9o7ikg8o9_1.png");
    background-size: cover;
    background-position: right;
    color: black;
}

#hero h2{
    font-size: 45px;
}

#hero h4{
    padding: 10px;
    font-size: 25px;
    margin: 0;
}

#Angebot{
    background-color: #242321;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
}

#Angebot span{
    background-color: white;
    color: black;
    padding: 10px;
}

#Kaufen{
    display: grid;
    justify-items: center;
    padding-top: 4%;
}

#Kaufen h3{
    font-size: 40px;
}

#produkte{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    align-items: center;
    justify-items: center;
}

.prev, .next{
    background-color: #937220;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.prod{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    padding: 2%;
    padding-top: 7%;
    margin: 1%;
}

.prod:hover{
    box-shadow: 1px 5px 5px 3px rgba(0, 0, 0, 0.27);
}

#Banner{
    justify-items: center;
    text-align: center;
}

#DreiIcons{
    display: flex;
    padding: 1.5% 3% 3% 3%;
}

#DreiIcons p{
    padding: 2%;
}

#DreiIcons img{
    object-fit: contain;
    filter: invert(68%) sepia(15%) saturate(1274%) hue-rotate(9deg) brightness(89%) contrast(99%);
}

#firmen{
    display: flex;
    width: 100%;
    height: 7vh;
    justify-content: center;
    background: #937220;
    background: linear-gradient(155deg, rgba(147, 114, 32, 1) 0%, rgba(220, 183, 76, 1) 50%, rgba(147, 114, 32, 1) 100%);
}

#firmen img{
    mix-blend-mode: color-burn;
    mix-blend-mode:multiply ;
    padding-left: 4%;
    padding-right: 4%;
}

#UnsAusmacht{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 3%;
}


#ausmacht-image {
    max-width: 75%;
    height: auto;
    transition: opacity 0.3s ease-in-out;
}

.AusmachtDrei{
    border-bottom: 2px solid rgb(173, 173, 173);
    font-size: 22px;
    color: gray;
    transition: max-height 1s, padding 1s, color 1s;
}

#Drei2{
    margin-top: 25%;
}

#Drei3{
    margin-top: 50%;
}

.AusmachtDrei:hover,
.AusmachtDrei:hover p {
    color: black;
}

.AusmachtDrei:hover {
    padding: 3% 0%;
    transition: max-height 1s, padding 1s;
}

#usbild{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5%;
    white-space: normal;
    text-align: center;
}

#usbild div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seller{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.seller div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#us{
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#usdiv{
    margin: 5%;
    margin-left: 10%;
}

#learnmore{
    margin-top: 20%;
    margin-left: 5%;
}

#Bestseller,
#Neu{
    background-color: #f4eed4;
    text-align: center;
    padding-top: 2%;
}

#Neu{
    background-color: #eadea7;
    text-align: center;    
    padding-top: 2%;
}

.card {
  width: 330px;
  height: 425px;
  background: #f5f5f5;
  padding: 15px;
  margin: 0 1% 0 1%;
  overflow: hidden;
  transition: all 0.3s;
  position: relative;
}
.wrapper {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.card-image {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  font-weight: 900;
  transition: all 0.3s;
}
.content {
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.card-btn {
  width: 85%;
  background-color: rgb(24, 24, 24);
  color: white;
  transition: all 0.3s;
  cursor: pointer;
  font-weight: 500;
}
.card:hover .card-image {
  height: 200px;
}
.card:hover .card-btn {
  margin-top: 0;
}

.card:hover {
  background-color: white;
}

.card:hover .wrapper{
    gap: 7px;
}

.card h4{
    margin: 0;
} 

#massgeschneidert{
    position: relative;
    height: 50vh;
    color: white;
    display: grid;
    grid-template-columns: 8.5fr 9fr;
    padding: 3%;
}

#maßgeschneidert span{
    margin-top: 5px;
}

#massgeschneidert video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/*Bewertung*/
/* From Uiverse.io by PriyanshuGupta28 */ 
.marquee {
  overflow: hidden;
  /* hide the scrolling overflow */
  width: 100%;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}
.marquee_header {
  font-size: 35px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}
.marquee__inner {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
}

.marquee__group {
  display: flex;
}

.marquee__group .bewertung{
  margin: 0 1.5rem;
  background: white;
  padding: 4px 16px 4px 12px;
  font-size: 1.2rem;
  text-wrap: auto;
  width: 300px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

#Bewertung{
    padding: 30px 0 50px 0;
    background-color: #242321;
}

#Bewertung h4{
    color: #EADEA7;
}

.stern{
    color: Gold;
    justify-self: center;
}

#Bewertung p,
#Bewertung h5{
    margin: 10px;
    font-size: 18px;
}

/*FAQ-section*/
#FAQ{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4eed4;
    color: black;
    padding: 5% 0%;
    padding-left: 10%;
}

#FAQ h4 {
    margin-bottom: 20px;
    align-self: flex-start;
}
.faq-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.question {
    text-align: center;
    overflow: hidden; 
    width: 90%;
    border-bottom: solid 1px black; 
}
.question input {
    display: none; 
}
.faq-answer {
    max-height: 0px;
    overflow-wrap: break-word;
    transition: max-height 0s, padding 0s;
    padding: 0 5px;
    overflow: hidden; 
    white-space: normal; 
}
.question:hover .faq-answer,
.question input:hover + .faq-label + .faq-answer {
    max-height: 1500px; 
    padding: 0px 5px;
    transition: max-height 1s, padding 0s;
} 
.faq-label{
    display: block; 
    transition: transform 1s;
}
/*Footer*/

footer{
    background: #242321;
    display: grid;
    grid-template-columns: 2fr 3fr;
    color: #EADEA7;
}

footer img{
    margin: 3%;
    border:transparent;
    border-radius: 6px;
}

footer a:hover{
    color: #937220;
}

#ErsteHalfte{
    padding: 5%;
}

#ErsteHalfte p{
    padding-left: 5%;
}

#ErsteHalfte input{
    padding: 15px;
    font-size: 15px;
    border: none;
    margin-left: 5%;
}

#ZweiteHalfte{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#UnterListe, .icon ul{
    display: flex;
    justify-content: space-around;
}

#UnterListe ul li{
    list-style: none;
}

.lis{
    padding: 0;
}

.lis a{
    padding: 5%;
}

.icon{
    width: 85%;
    border-top: 1px solid #EADEA7;
}

footer .copyright{
    width: 100%;
    text-align: center;
    color:rgb(117, 117, 117)
}
